<template name="Footer">
  <footer>
    <div style="padding-top: 20px" class="ui bottom fixed container">
      <div class="ui two column grid container">
        <div class="column">
          University of Hawaii at Manoa
          <hr/>
          2500 Campus Road<br/>
          Honolulu HI 96822<br/>
          808-956-8111<br/>
        </div>
        <div class="column">
          Manoa Flea Market
          <hr/>
          Created by Kevin Kawamura<br/>
          ICS 314 Spring 2017<br/>
          University of Hawaii at Manoa<br/>
        </div>
      </div>
    </div>
  </footer>
</template>