<template name="Footer">
  <footer>
    <div style="padding-top: 20px" class="ui bottom fixed container">
      <div class="ui two column grid container">
        <div class="column">
          Column-1
          <hr/>
          Created by Kevin Kawamura<br/>
          ICS 314 Spring 2017<br/>
          University of Hawaii at Manoa<br/>
        </div>
        <div class="column">
          Column-2
          <hr/>
          Created by Kevin Kawamura<br/>
          ICS 314 Spring 2017<br/>
          University of Hawaii at Manoa<br/>
        </div>
      </div>
    </div>
  </footer>
</template>