<template name="Header">
  <div style="height: 75px" class="ui top fixed borderless inverted topmenu menu">
    <a class="ui container">
      <h1 style="color: lightgoldenrodyellow">Manoa Flea Market</h1>

      <a class="{{ isActiveRoute 'List_Goods_Page'}} item" href="{{ pathFor 'List_Goods_Page' }}">Browse Listings</a>

      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Add_Good_Page'}} item" href="{{ pathFor 'Add_Good_Page' }}">Create a Listing</a>

        <a class="right aligned item" href="{{pathFor 'Create_Student_Data_Page'}}">
          <div class="text">PROFILE</div>
          <i class="user icon"></i></a>
      {{/if}}
      <a class="right fitted item" href="{{pathFor 'Home_Page'}}">
        <div class="text">Home</div>
        <i class="home icon"></i></a>
      <a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>
    </a>
  </div>
</template>