body {
  padding-top: 75px; /* Move body of page below navbar. */
}

.ui.topmenu.menu {
  background-color: #397983;
  color: lightgoldenrodyellow;
  box-shadow: none;
  border: none;
}

.ui.middlemenu.menu {.
  margin-top: 75px;
  padding-top: 75px;
  box-shadow: none;
  border: none;
}

#login-buttons a, .accounts-dialog a {
  color: darkblue;
}

footer {
  background-color: #397983;
  color: lightgoldenrodyellow;
  height: 175px;
}

/*
.image2 {
  position: absolute;
  height: 100px;
  width: 550px;
  top: 200px;
}
*/